.App,
#root,
body {
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: visible;

}

.path {
  stroke-dasharray: 500;
  animation: dash 2s ease-in-out infinite;
  fill-opacity: 1;
}

@keyframes dash {
  to {
    stroke-dashoffset: 2000;
    /* fill-opacity: 0; */
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffffd0;
  backdrop-filter: blur(0.5rem) saturate(1.5);
  position: sticky;
  top: 0;
  /* height: 30vh; */
  margin: 1.5rem auto;
  padding: 2rem;
}

form {
  width: 100%;
  max-width: 700px;
}

.responses {
  padding: 2rem;
  width: 100%;
  display: block;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2rem
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

textarea {
  display: block;
  width: 100%;
  border: 1px solid #babfc3;
  border-radius: 0.25rem;

}

button {
  display: inline;
  float: right;
  width: 50%;
  margin: 1rem auto;
  display: inline;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 1px solid #babfc3;
  padding: 11px 24px;
  min-height: 44px;
  min-width: 44px;
  color: #202223;
  background: #ffffff;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;


}

button:hover {
  background: #f6f6f7;
  outline: 1px solid transparent;
}

.card {
  width: 100%;
  max-width: 700px;
  padding: 3.5rem;
  background: #008060;
  color: white;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

}